
    
.order-header {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    color: black; 
    border-radius: 20px;
  
    
}

.cart-items-container {
  overflow-y: auto;
  max-height: calc(100vh - 250px);
  flex-grow: 1;
  padding-right: 5px;
  margin-bottom: 10px;
  flex-wrap: wrap;
  padding: 1rem;
}

.item-image-container {
    margin-right: 20px;
}

.item-image {
    width: 60px;
    height: 90px;
    object-fit: cover;
    border-radius: 8px;
    

}

.item-details {
    flex: 1;
}


.item-name {
    margin: 0 0 5px 0;
    color: #333;
    font-size: 20px;
}

.item-name small {
    font-size: 20px;
    color: #333;
}

.item-price {
    margin:  5px 0;
    color: #333;
    font-size: 23px;
    
}

.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 20px;
    border: none;
    color: black;
}

.quantity-control svg {
    cursor: pointer;
    color: #333;
    font-size: 14px;
    transition: color 0.2s;
}

.quantity-control svg:hover {
  color: #333;
}

.quantity-value {
    font-weight: bold;
    min-width: 20px;
    text-align: center;
}

.item-actions {
    margin-left: 15px;
}

.delete-icon {
    cursor: pointer;
    color: #ff4444;
    font-size: 20px;
     border-radius: 20px;
    
}

.order-summary {
    background: #f8f5f5;
    padding: 20px;
    border-radius: 40px;
    margin-top: 20px;
    
}

.subtotal {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.order-button {
  background-color: #ff2d73;
  color: white; 
  font-size: 1.1rem;
  font-weight: 600;
  padding: 12px;
  border-radius: 16px;
  border: none;
  transition: background-color 0.3s ease;
}

.order-button:hover {
  background-color: #fbc02d; /* Slightly darker yellow on hover */
}

.cart-item-container {
  display: flex;
  align-items: flex-start;
  padding: 12px 0;
  border-bottom: 1px solid #eee;
  position: relative;
  border: none; 
}



@media (max-width: 768px) {
  .cart-items-container {
      max-height: none;
      overflow-y: visible;
  }
  
  .order-summary {
      height: auto;
  }
}
.cart-item-container {
  color: black;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 1rem;
}
.b{
    background-color: #f9dddd;
    
     
}
